Изначально графический интерфейс моего проекта создавался с использованием библиотеки tkinter, однако в процессе разработки возникли сложности с визуализацией. Для их решения я воспользовалась Canvas и чатом GPT для проработки идеи расчета координат кнопок
